<!doctype html>
<html lang="en" ng-app>

<head>
  <title>World Countries and Capitals</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="app.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVfcpeyAQi69kaXnPI6BHPbeL5d_cbrgM" async defer></script>
  <style>
        /* Set map Height on the page  this makes it dynamically expand */
        #map {
            height: 50%;
        }
        /* Optional: Makes the sample page fill the window. */
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
  <style>
    body {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    
    table,
    th,
    td {
      border-collapse: collapse;
      border: 1px solid black;
      text-align: center;
    }
  </style>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script>
    function load() {
      $.ajax({
        url: "/get/html",
        cache: false,
        success: function(html) {
          $("#results").append(html);
        }
      });
    };

    $(document).ready(function() {
      load();
    });
  </script>
</head>

<body>
 

  <div id="map"></div>
    <!-- Place the Maps api onto separiate js page inline isnt the best  -->
    <script>
        // this is the array add some more things in to test it use , to seperate and [] to define
        var locations = [
            ['martin', 'nci', '0838177261', -33.890542, 151.274856, 1]
        ];
        // create map and center to where we need
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: new google.maps.LatLng(-33.92, 151.25),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        // create info window instance
        var infowindow = new google.maps.InfoWindow();
        // decare varables for marker and the array
        var marker, i;
        // loop through the array getting the lat and lang based on each location
        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][3], locations[i][4]),
                map: map
            });
            // add click event
            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    // set the info window so we can use it to insert each details of the array 
                    infowindow.setContent('</h1>Name: ' + locations[i][0] + "</h1>" +
                        '</br></div> Address: ' + locations[i][1] + "</div>" +
                        '</br></div> Number ' + locations[i][2]);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }
    </script>
  
  
  <div class="container">
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
      </div>
    </div>
    <div class="page-header">
      <h1>All The Places You Were In </h1>
    </div>
    <div>
       <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
    </div>
    
    
    <div class="row">
      <div id="results"  class="span6">
      </div>
      <div class="span4">
        <ul class="nav nav-list well">
          <li>
               <form enctype='application/json' action="/post/json" method="post">
              <div class="field">
                <input type="text" name="Name" placeholder="Name">
              </div>
              <div class="field">
                <input type="text" name="Address" placeholder="Address">
              </div>
              <div class="field">
                <input type="text" name="Latitude" placeholder="Latitude">
              </div>
              <div class="field">
                <input type="text" name="Longitude" placeholder="Longitude">
              </div>
             
              <div class="field">
                <button type="submit">Add place</button>
              </div>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
<script>
  //<!-- function myFunction() {-->
// Declare variables 
 // var input, filter, Countries, country, Country_code,Region,Name,Capital,Phone_code, i;
//  input = document.getElementById("myInput");
 // filter = input.value.toUpperCase();
 // Countries = document.getElementById("myTable");
 // country = Countries.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  //for (i = 0; i < tr.length; i++) {
  //  td = tr[i].getElementsByTagName("td")[0];
  //  if (td) {
   //   if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
   //     tr[i].style.display = "";
   //   } else {
   //     tr[i].style.display = "none";
 //     }
 //   } 
//  }
//}

  
  </script>  

</body>

</html>