<!doctype html>
<html lang="en" ng-app>

<head>
  <title>Personal World Address Book</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/app.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVfcpeyAQi69kaXnPI6BHPbeL5d_cbrgM" async defer></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
   <script src="/js/map.js"></script>
  <script>
    function load() {
      $.ajax({
        url: "/get/html",
        cache: false,
        success: function(html) {
          $("#results").append(html);
        }
      });
    };
    $(document).ready(function() {
      load();
    });
  </script>
</head>

<body>

  <div id="map"></div>

  <div class="container">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
      </div>
    </div>
    <div class="page-header">
      <h1>All The Places You Were In </h1>
    </div>
    <div>
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
    </div>

    <div class="row">
      <div id="results" class="span6">
      </div>
      <div class="span4">
        <ul class="nav nav-list well">
          <li>
            <form enctype='application/json' action="/post/json" method="post">
              <div class="field">
                <input type="text" name="Name" placeholder="Name">
              </div>
              <div class="field">
                <input type="text" name="Address" placeholder="Address">
              </div>
              <div class="field">
                <input type="text" name="Latitude" placeholder="Latitude">
              </div>
              <div class="field">
                <input type="text" name="Longitude" placeholder="Longitude">
              </div>
              <div class="field">
                <button type="submit">Add place</button>
              </div>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>

</html>