<!doctype html>
<html lang="en" ng-app>

<head>
  				<style>
				  table {
				    border-collapse: collapse;
				  }
				  td, th {
				    border: 1px solid #999;
				    padding: 0.5rem;
				    text-align: left;
				  }
				  th {
				    font-weight: bold;
				  }
					.selected {
      			background-color:black;
     				 color: #FFF;
   				 }
			  </style>
  <title>Personal World Address Book</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/app.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVfcpeyAQi69kaXnPI6BHPbeL5d_cbrgM" async defer></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
   <script src="/js/map.js"></script>
  <script>
    function load() {
      $.ajax({
        url: "/get/html",
        cache: false,
        success: function(html) {
          $("#results").append(html);
          $("#table tbody tr").click( function () {
            $(".selected").removeClass("selected");
            $(this).addClass("selected");
            var $row=$(this).attr("id");
            $("#delete").click(function(){
                $.ajax({
                url: "/post/delete",
                cache: false,
                type: "POST",
                data: { row:$row }
                });         
          });
//            
          });

        }
      });
    };
    $(document).ready(function() {
      load();
    });
  </script>
   <script>
 function myFunction() {
   var input, filter, table, tr, td, i;
   input = document.getElementById("myInput");
   filter = input.value.toUpperCase();
   table = document.getElementById("results");
   tr = table.getElementsByTagName("tr");
   for (i = 0; i < tr.length; i++) {
     td = tr[i].getElementsByTagName("td")[0];
     if (td) {
       if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
         tr[i].style.display = "";
       } else {
         tr[i].style.display = "none";
       }
     }       
   }
 }
 </script>
</head>

<body>

  <div id="map"></div>

  <div class="container">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
      </div>
    </div>
    <div class="page-header">
      <h1>All The Places You Were In </h1>
    </div>
    <div>
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
    </div>

    <div class="row">
      <div id="results" class="span6">
      </div>
      <div class="span4">
        <ul class="nav nav-list well">
          <li>
            <form enctype='application/json' action="/post/json" method="post">
              <div class="field">
                <input type="text" name="Name" placeholder="Name">
              </div>
              <div class="field">
                <input type="text" name="Address" placeholder="Address">
              </div>
              <div class="field">
                <input type="text" name="Latitude" placeholder="Latitude">
              </div>
              <div class="field">
                <input type="text" name="Longitude" placeholder="Longitude">
              </div>
              <div class="field">
                <button type="submit">Add place</button>
              </div>
            </form>
                <button id="delete">Delete</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>

</html>