 #map {
 height: 50%;
 }
 /* Optional: Makes the sample page fill the window. */
html, body {
            height: 100%;
            margin: 0;
            padding: 0;
}
body {
      padding-bottom: 60px;
}
    
table,th, td {
      border-collapse: collapse;
      border: 1px solid black;
      text-align: center;
}